{% extends 'base.html' %}
{% block content %}
<div class="container h-100 mt-5">
    <div class="row my-5">
        <div class="col-md-10 offset-md-1">
           <div class="row">
            <div class="col-md-6 d-flex ms-3">
                <img src="/static/images/InstaLogin2.png" alt="">
                <!-- <img src="/static/images/screen2.png" class="bg-dark img-screen" alt="">
                <img src="/static/images/screen2.png" class="bg-dark mt-4 img-screen screenimg" alt="">
     -->
            </div>
            <div class="col-md-5">
                <div class="h-100">
                    <div class="user_card card">
                        <div class="text-center py-4">
                            <img src="/static/images/instagramClearbg.png" alt="">
                        </div>
                        <div>
                            {% for message in messages %}
                            {% if message.tags == 'error' %}
                            <div class="p-2 alert alert-danger">
                                {{message}}
                            </div>
                            {% else %}
                            <div class="p-2 alert alert-{{message.tags}}">
                                {{message}}
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div>

                            <div class="d-flex justify-content-center form_container">
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    <div class="input-group mb-3">
                                        <div class="input-group-append">
                                            
                                        </div>
                                        <input type="text" name="username" placeholder="Username..." class="form-control">
                                    </div>
                                    <div class="input-group mb-2">
                                        <div class="input-group-append">
                                            
                                        </div>
                                            <input type="password" name="password" placeholder="Password..." class="form-control" >
                                    </div>
                
                                        <div class="d-flex justify-content-center mt-3 login_container">
                                             <input class="btn login_btn" type="submit" value="Login">
                                           </div>
                                </form>
                                
                            </div>
                            <div class="text-center ">
                                <p class="text-center text-secondary">OR</p>
                                <i class="fa-brands fa-facebook-square text-primary"></i>
                                <span class="text-primary">Log in with Facebook</span>
                                <div class="text-primary">
                                    <a href="#">Forgot password?</a>
                                </div>
                            </div>
            
                        </div>
                       
                        {% for message in messages %}
                        <p class="text-center" id="messages">{{message}}</p>
                        {% endfor %}
                
                       
                    </div>
                    <div class="card mt-5">
                        <div class="mt-4">
                            <div class="d-flex justify-content-center links">
                                Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
                            </div>
                    
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <p class="me-5">Get the app.</p>
                        <div class="d-flex">
                            <img src="/static/images/playstore.png" class="me-2" width="50%" alt="">
                            <img src="/static/images/googleapp.png" class="" width="50%" alt="">
                        </div>
                    </div>
                </div>
               
            </div>
           </div>
        </div>
    </div>
    
</div>
{% endblock %}