{% extends 'base.html' %}
{%  block content %}
<div class="container ">
    <div class="row mx-5">
        <div class="col-md-3">
            <p>Edit profile</p>
        </div>
        <div class="col-md-9">
            <div class="d-flex">
                <img src="/static/images/isaac-.png" width="80px" class="img-fluid  rounded-circle" alt="">
                <div>
                    <h6 class="m-3">IsaacKiptook2 <br>
                    </h6>
                    <a href="">Change profile photo</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}