{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%  block content %}
<div class="container ">
    <div class="row mx-5 mt-4">
        <div class="col-md-3 card">
            <div class="my-3">
                <p>Edit profile</p>
            </div>
            <div class="my-3">
                <p>Change Password</p>
            </div>
            <div class="my-3">
                <p>Apps and Websites</p>
            </div>
            <div class="my-3">
                <p>Email Notifications</p>
            </div>
            <div class="my-3">
                <p>push Notifications</p>
            </div>
            <div class="my-3">
                <p>Manage Contacts</p>
            </div>
            <div class="my-3">
                <p>Privacy and Security</p>
            </div>
            <div class="my-3">
                <p>Login and Activity</p>
            </div>
            <div class="my-3">
                <p>Email From Instagram</p>
            </div>
            <div class="my-3">
                <p>Help</p>
            </div>
            <div class="my-3">
                <a href="#" class="text-center">Switch to Professional <br> Account</a>
            </div>
        </div>
        <div class="col-md-9 card">
            <div class="row mx-3">
               
            </div>
           <div class="row">
            <form action="#" method="POST" class="form" id="pos" enctype="multipart/form-data">
                {% csrf_token %}
                {{ prof_form|crispy}}
               
                   
              
               
               <div class="d-flex justify-content-center">
                   <button type="submit" class="btn btn-outline-info ">submit</button>
               </div>
               <div class="row my-2">
                    <div class="col-md-2 mx-3">
                        <p> Similar Account Suggestions </p>
                    </div>
                    <div class="col-md-6">
                       <input type="checkbox">
                    
                    </div>
               </div>

            </form>
           </div>
        </div>
    </div>
</div>
{% endblock %}