{% extends 'base.html' %}
{%  block content %}
<div class="container ">
    <div class="row mx-5 mt-4">
        <div class="col-md-3 card">
            <div class="my-3">
                <p>Edit profile</p>
            </div>
            <div class="my-3">
                <p>Change Password</p>
            </div>
            <div class="my-3">
                <p>Apps and Websites</p>
            </div>
            <div class="my-3">
                <p>Email Notifications</p>
            </div>
            <div class="my-3">
                <p>push Notifications</p>
            </div>
            <div class="my-3">
                <p>Manage Contacts</p>
            </div>
            <div class="my-3">
                <p>Privacy and Security</p>
            </div>
            <div class="my-3">
                <p>Login and Activity</p>
            </div>
            <div class="my-3">
                <p>Email From Instagram</p>
            </div>
            <div class="my-3">
                <p>Help</p>
            </div>
            <div class="my-3">
                <a href="#" class="text-center">Switch to Professional <br> Account</a>
            </div>
        </div>
        <div class="col-md-9 card">
            
           <div class="row">
            <form action="#" method="POST" class="form" id="pos" enctype="multipart/form-data">
                {% csrf_token %}
                {% form.media %}
                {% form.as_p %}
            </form>
           </div>
        </div>
    </div>
</div>
{% endblock %}