{% extends 'base.html' %}
{% block content %}
<div class="container my-5">         
    <div class="row mx-5">
        <div class="col-md-6 ms-5">
            <div class="card mb-4">
                <img src="/static/images/user.webp" width="80px" alt="{{image.profile_img}}">
                <p>name</p>
            </div>
            <div class="card ">
                <div class="div">
                    <img src="/static/images/user.webp" width="40px" alt="{{image.profile_img}}">
                <p class="align-center">S.c Dalmas</p> 
                </div>       
                {% for image in images %}
            
                <img src="{{image.image.url}}" class="img-fluid" alt=" {{image.image}}">
                {% endfor %}
                <div class="card-lower w-100 d-flex ">
                    <div>
                        <img src="/static/images/heart.png" width="27px" alt="{{image.profile_img}}">
                    </div>
                    <div>
                        <img src="/static/images/message.webp" width="27px" alt="{{image.profile_img}}">
                    </div>
                    <div>
                        <img src="/static/images/message.webp" width="27px" alt="{{image.profile_img}}">
                       
                    </div>
                    <div class=" ms-auto ">
                        <img src="/static/images/Bookmark.webp" width="27px" alt="{{image.profile_img}}">
                    </div>
                </div>
                <div class="card-comment">
                    <p><strong>5 likes</strong></p>
                   <div class="text-secondary">
                    <p>1 view comment</p>
                    <p>9 HOURS AGO</p>
                   </div>
                </div>
                <div class="d-flex add-comment p-3">
                    <img src="/static/images/user.webp" width="27px" alt="">
                    <input type="text" class="ms-3" placeholder="Add a comment">
                    <span  type="submit" class="btn btn-light ms-auto text-secondary">Post</span>
                </div>
                
                    
            </div>
        </div>        
        <div class="col-md-5">
            <div class="d-flex">
                <img src="/static/images/user.webp" width="80px" alt="">
                <h6 class="m-3">IsaacKiptook2 <br>
                <span class="text-secondary">Isaac Kiptoo</span></h6>
                <div class="my-3 ms-auto follow">
                    <a href="">Switch</a>
                </div>
            </div>
            <div class="d-flex ">
                <h5>Suggestions For You</h5>
                <p class="ms-auto">See All</p>
            </div>
            <div class="d-flex my-2">
                <img src="/static/images/user.webp" width="50px" alt="">
                <h6 class="m-1">IsaacKiptook2 <br>
                <span class="text-secondary">Follows You</span></h6> 
                <div class="my-1 ms-auto follow">
                    <a href="">Follow</a>
                </div>
            </div>
            <div class="d-flex my-2">
                <img src="/static/images/user.webp" width="50px" alt="">
                <h6 class="m-1">IsaacKiptook2 <br>
                <span class="text-secondary">Follows You</span></h6> 
                <div class="my-1 ms-auto follow">
                    <a href="">Follow</a>
                </div>
            </div>
            <div class="d-flex my-2">
                <img src="/static/images/user.webp" width="50px" alt="">
                <h6 class="m-1">IsaacKiptook2 <br>
                <span class="text-secondary">Follows You</span></h6> 
                <div class="my-1 ms-auto follow">
                    <a href="">Follow</a>
                </div>
            </div>
            <div class="d-flex my-2">
                <img src="/static/images/user.webp" width="50px" alt="">
                <h6 class="m-1">IsaacKiptook2 <br>
                <span class="text-secondary">Follows You</span></h6> 
                <div class="my-1 ms-auto follow">
                    <a href="">Follow</a>
                </div>
            </div>
            <div class="d-flex my-2">
                <img src="/static/images/user.webp" width="50px" alt="">
                <h6 class="m-1">IsaacKiptook2 <br>
                <span class="text-secondary">Follows You</span></h6> 
                <div class="my-1 ms-auto follow">
                    <a href="">Follow</a>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}