{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row my-4 mx-5">
        {% for user in current_user%}
        <div class="col-md-3 ms-5">
            
                <img src="{{user.profile_img.url}}" width="50%" class="img-fluid  rounded-circle" alt="">
                <p>{{user.profile.fullname}}</p>
                <p>{{user.profile.username}}</p>
        </div>
        {% endfor %}
        <div class="col-md-5 m-3">
           
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="">IsaacKiptook2 
                        </h3>
                    </div>
                   <div class="col-md-4 p-0">
                    <a href="{% url 'edit' %}"><div class="btn border-secondary ">
                        Edit profile
                    </div></a>
                   </div>
                    <div class="col-md-2">
                        <img src="" width="40px" alt="">
                    </div>
                </div>
                <form action="followers" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="user" value="{{current_user}}" readonly>
                    <input type="hidden" name="follower" value="{{user.username}}" readonly>
                    <input type="hidden" name="value" value="follow" >
                    <button type="submit" class="btn profile-edit-btn">
                        Follow
                    </button>
                </form>
                <div class="my-3 row ms-auto follow">
                    <div class="col-md-4">
                        <p>0 posts</p>
                    </div>
                   <div class="col-md-4">
                    <p>109 Followers</p>
                   </div>
                   <div class="col-md-4">
                    <p>36 Following</p>
                   </div>
                </div>
        </div>
    </div>
    <hr>
    <div class="row ms-4">
        <div class="w-100 d-flex justify-content-center">
            <h6 class=" mx-5 ">
                POST
            </h6>
            <h6 class=" mx-4">
                SAVED
            </h6>
            <h6 class="mx-4 ">
                TAGGED
            </h6>
           </div>
        <div class="col-md-6">
           
            <div class="row">
                <div class="col-md-4">
                    <img src="/static/images/fashion.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-4">
                    <img src="/static/images/water10.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-4">
                    <img src="/static/images/flower3.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="/static/images/fruits4.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-4">
                    <img src="/static/images/food1.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-4">
                    <img src="/static/images/furniture1.jpg" class="img-fluid" alt="">
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4">
                    <img src="/static/images/fruits2.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-4">
                    <img src="/static/images/home6.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-4">
                    <img src="/static/images/home8.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center p-5">
            <h5>Start capturing and sharing your moments.</h5>
            <p>Get the app to share your first photo or video.</p>
        </div>
    </div>
</div>
{% endblock %}