*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #FAFAFA;
}
.navbar{
    display: flex;
    justify-content: space-around;
}
.navborder{
    border-bottom: 1px solid #d5cfcf;
}
.navbar form input{
    background-color: #EFEFEF;
    border: none;
}
.card-comment{
    border-bottom: 1px solid #d5cfcf;
}
.add-comment input{
    border: none;
}
.follow a{
    text-decoration: none;
    color: #139bf6;
}


.user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #1A2C43;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.form_container {
    margin-top: 20px;
}

#form-title{
    color: #fff;
}
.login_btn {
    width: 100%;
    background: #1A2C43;
    color: white;
}
.login_btn:focus {
    box-shadow: none;
    outline: 0px;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #f7ba5b;
    color: white;
    border: 0;
    border-radius: 0.25rem 0 0 0.25rem;
}
.input_user,
.input_pass:focus {
    box-shadow: none;
    outline: 0px;
}


#messages{
    background-color: grey;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
}
