*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #FAFAFA;
}
.navbar{
    display: flex;
    justify-content: space-around;
}
.navborder{
    border-bottom: 1px solid #d5cfcf;
}
.navbar form input{
    background-color: #EFEFEF;
    border: none;
}
.card-comment{
    border-bottom: 1px solid #d5cfcf;
}
.add-comment input{
    border: none;
}