<div class="container-fluid navborder bg-white">
  <div class="container px-5">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand d-flex justify-content-between" href="#">Instagram</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
         <div class="d-flex ms-auto me-4">
          <form class=" me-5 ">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
          </form>
         
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-4  mb-2 mb-lg-0">
            <a href="{% url 'index' %}" class="mx-3">
                <img src="/static/images/home.webp" width="27px" alt="">
            </a>         
              <a href="" class=" mx-3">
                  <img src="/static/images/message.webp" width="27px" alt="">
              </a>
             
              <a href="{% url 'addimage' %}" class="mx-3">
                <img src="/static/images/boxadd.png" width="27px" alt="">
              </a> 
              <a href="" class="mx-3">
                <img src="/static/images/compass.webp" width="27px" alt="">
              </a>   
              <a href="" class="mx-3" >
                <img src="/static/images/heart.png" width="27px" alt="">
              </a>          
             
              <li class="nav-item dropdown">
                <a class="" href="#" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/static/images/user.webp" width="27px" alt="{{image.profile_img}}">
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item"  href="{% url 'profile' %}"> <img src="/static/images/user.webp" class="mx-3
                    " width="20px" alt=""> Profile</a>
                  <a class="dropdown-item" href="{% url 'profile' %}">
                    <img src="/static/images/Bookmark.webp" class="mx-3" alt="" width="20px">Saved</a>
                 <a class="dropdown-item" href="#"><img src="/static/images/settings.webp" class="mx-3
                    " alt="" width="20px">Settings</a>
                  <a class="dropdown-item" href="#"><img src="/static/images/switch.webp" class="mx-3
                    " alt="" width="20px">Switch Accounts</a>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" class="mx-3
                    " href="{% url 'logout' %}">LogOut</a></li>
                   
                </ul>
              </li>
            </ul>
          </div>
          </div>
        </div>
      </nav>
</div>
</div>